body {
    font-family: 'Karla', sans-serif;
}

h1 {
    font-family: 'Rubik', sans-serif;
}

#header{
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    z-index: 2;
    position: absolute;
    top: 0px;
}

#siteheader{
    opacity: 0.5;
}