body {
    font-family: 'Karla', sans-serif;
}

h1 {
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-family: 'Rubik', sans-serif;
}

#header{
    z-index: 2;
    top: 0px;

    display: flex;
    justify-content: center;
}

#headerwords{
    z-index: 1;
    position: absolute;
    display: flex;

    justify-content: center;
    align-items: center;
}

#siteheader{
    opacity: 0.5;
}